force-app/main/default/flows/Custom_Lead_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>clone_custom_lead_to_standard</name>
        <label>clone custom lead to standard</label>
        <locationX>880</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>standardleadclone.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>standardleadclone.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changinglastname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>standardleadclone.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>standardleadclone.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>changingcompanyname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>standardleadclone.Master_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>creating_clone_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inserting_new_campaingmember</name>
        <label>inserting new campaingmember</label>
        <locationX>881</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>campaingmemberinsert.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>standardleadclone.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaingmemberinsert.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>campaingmemberinsert.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isnert_campaing_members</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>changingcompanyname</name>
        <dataType>String</dataType>
        <expression>{!$Record.Company__c}+&apos;Test01&apos;</expression>
    </formulas>
    <formulas>
        <name>changinglastname</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastName__c} + &apos;Test 01&apos;</expression>
    </formulas>
    <interviewLabel>Custom Lead Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom Lead Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>creating_clone_lead</name>
        <label>creating clone lead</label>
        <locationX>872</locationX>
        <locationY>532</locationY>
        <connector>
            <targetReference>inserting_new_campaingmember</targetReference>
        </connector>
        <inputReference>standardleadclone</inputReference>
    </recordCreates>
    <recordCreates>
        <name>isnert_campaing_members</name>
        <label>isnert campaing members</label>
        <locationX>892</locationX>
        <locationY>798</locationY>
        <inputReference>campaingmemberinsert</inputReference>
    </recordCreates>
    <start>
        <locationX>756</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>clone_custom_lead_to_standard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>campaingmemberinsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>standardleadclone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
